In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("export_dataframe_stage2.csv")

/Users/hasongcho/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (14,20,21,23,24,31,32,33,35,36,56,63,64,65,72,73,74,77,78,79,86,87,88) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59598 entries, 0 to 59597
Data columns (total 90 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   group_rid            59598 non-null  int64
 1   GroupName            59598 non-null  object
 2   site_rid             59598 non-null  int64
 3   state                59598 non-null  object
 4   county               59598 non-null  object
 5   lat                  59598 non-null  float64
 6   long                 59598 non-null  float64
 7   SiteName             59598 non-null  object
 8   SiteLocation         59598 non-null  object
 9   event_rid            59598 non-null  int64
 10  event_date           59598 non-null  object
 11  volunteer_time       36542 non-null  float64
 12  data_entry           59300 non-null  float64
 13  participants         59598 non-null  int64
 14  rain_24_hours        17376 non-null  object
 15  weather              36003 non-null  object
 16  rain_hours           33293 non-null  float64
 17  rain_inches          36669 non-null  float64
 18  distance             5642 non-null   float64
 19  air_temperature      23664 non-null  float64
 20  stream               421 non-null    object
 21  method               273 non-null    object
 22  wqi                  514 non-null    float64
 23  habitat              454 non-null    object
 24  Comments             3163 non-null   object
 25  createdby            58727 non-null  object
 26  createddate          58727 non-null  object
 27  chem_detail_rid      59598 non-null  int64
 28  air_temp             35345 non-null  float64
 29  water_temp           35427 non-null  float64
 30  calibrate            44327 non-null  float64
 31  calibrate_comment    1200 non-null   object
 32  chemical_comment     1712 non-null   object
 33  ChemWarnings         494 non-null    object
 34  do_saturation        32655 non-null  float64
 35  reagent              284 non-null    object
 36  reagent_other        164 non-null    object
 37  ph1                  33292 non-null  float64
 38  ph2                  33291 non-null  float64
 39  DissolvedOxygen1     32947 non-null  float64
 40  DissolvedOxygen2     32945 non-null  float64
 41  Conductivity         44887 non-null  float64
 42  Salinity1            2484 non-null   float64
 43  Salinity2            2483 non-null   float64
 44  SecchiDisk1          3412 non-null   float64
 45  SecchiDisk2          3412 non-null   float64
 46  ChlorophyllA         19 non-null     float64
 47  Alkalinity           3574 non-null   float64
 48  AmmoniaN             973 non-null    float64
 49  NitrateN             6192 non-null   float64
 50  Orthophosphate       5975 non-null   float64
 51  SamplingDepth        328 non-null    float64
 52  SettleableSolids     4696 non-null   object
 53  Turbidity            21882 non-null  float64
 54  Chloride             4 non-null      float64
 55  Hardness             3 non-null      float64
 56  Other1               224 non-null    object
 57  Other2               21 non-null     float64
 58  Other3               12 non-null     float64
 59  Other4               0 non-null      float64
 60  Other5               0 non-null      float64
 61  Other6               0 non-null      float64
 62  Other7               0 non-null      float64
 63  Other1_Comm          225 non-null    object
 64  Other2_Comm          21 non-null     object
 65  Other3_Comm          12 non-null     object
 66  Other4_Comm          0 non-null      float64
 67  Other5_Comm          0 non-null      float64
 68  Other6_Comm          0 non-null      float64
 69  Other7_Comm          0 non-null      float64
 70  bact_detail_rid      59598 non-null  int64
 71  plate_blank          7468 non-null   float64
 72  plate_one            7471 non-null   object
 73  plate_two            7466 non-null   object
 74  plate_three          7455 non-null   object
 75  plate_four           44 non-null     float64
 76  plate_five           10 non-null     float64
 77  colony_avg           11462 non-null  object
 78  hold_start_datetime  7500 non-null   object
 79  hold_end_datetime    7492 non-null   object
 80  min_temp             7410 non-null   float64
 81  max_temp             7418 non-null   float64
 82  three_M_plate        33674 non-null  float64
 83  ecoli_idexx          21936 non-null  float64
 84  fecal_coliform       495 non-null    float64
 85  ecoli_other          27 non-null     float64
 86  ecoli_other_unit     7151 non-null   object
 87  comments             541 non-null    object
 88  warnings             321 non-null    object
 89  wbd                  59560 non-null  object
dtypes: float64(50), int64(6), object(34)
memory usage: 40.9+ MB

## Variables to look into: calibrate, calibrate_comment, chemical_comment, ChemWarnings

In [23]:
#see only interested variables
df[['calibrate','calibrate_comment','chemical_comment','ChemWarnings']]
#seems like calibrate_comment,chemical_comment,chemwarnings have null value

       calibrate calibrate_comment chemical_comment ChemWarnings
0            0.0               NaN              NaN          NaN
1            0.0               NaN              NaN          NaN
2            0.0               NaN              NaN          NaN
3            0.0               NaN              NaN          NaN
4            0.0               NaN              NaN          NaN
...          ...               ...              ...          ...
59593        1.0               NaN              NaN          NaN
59594        1.0               NaN              NaN          NaN
59595        1.0               NaN              NaN          NaN
59596        1.0               NaN              NaN          NaN
59597        1.0               NaN              NaN          NaN

[59598 rows x 4 columns]

### Calibrate

In [51]:
calibrate=df['calibrate']

count =0
for i in calibrate:
    if str(i) == "nan":
        continue
    count +=1

print("calibrate null value total:" + str(count))

calibrate null value total:44327

In [56]:
calibrate.describe()

count    44327.000000
mean         0.265933
std          0.441834
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: calibrate, dtype: float64

### Calibrate_comment

In [25]:
calibrate_comment=df['calibrate_comment']
count =0
for i in calibrate_comment:
    if str(i) == "nan":
        continue
    count +=1

print("calibrate_comment null value total:" + str(count))

calibrate_comment null value total:1200

In [57]:
calibrate_comment.describe()

count               1200
unique               596
top       Per Mike Kahle
freq                  67
Name: calibrate_comment, dtype: object

### chemical_comment

In [35]:
chemical_comment=df['chemical_comment']
count =0
for i in chemical_comment:
    if str(i) == "nan":
        continue
    count +=1

print("chemical_comment null value total:" + str(count))

chemical_comment null value total:1712 out of 59598 total values

In [63]:
chemical_comment.describe()

count                1712
unique               1302
top       pH Calibration:
freq                   68
Name: chemical_comment, dtype: object

### ChemWarnings

In [34]:
ChemWarnings=df['ChemWarnings']
count =0
for i in ChemWarnings:
    if str(i) == "nan":
        continue
    count +=1

print("ChemWarnings null value total:" + str(count))

ChemWarnings null value total:494 out of 59598 total values

In [64]:
ChemWarnings.describe()

count                    494
unique                     2
top       Chemical Warnings:
freq                     493
Name: ChemWarnings, dtype: object